<layout name="layout" />
<script type="text/javascript">
    $(function(){
        // $("#jumpMenu").val(要选中的option的value值即可);
        $("#saleshop").val("{$saleshop}");
    });

</script>
<div class="pure-skin-mine">
	<form class="pure-form pure-skin-mine" role="search"  method ="post" action="{:U('JBF/SalesAnalysis/index')}">
		<fieldset>
			<legend>&nbsp;销售单据查询&nbsp;[当前日期:{$saledate}]</legend>

			<span>&nbsp;销售日期:&nbsp;</span>

			<input name="saledate" id="saledate" type="text" style="width:100px;" value="{$saledate}"  >

			<span>&nbsp;查询门店:&nbsp;</span>
			<select name="saleshop" id="saleshop">
				<option>全部门店</option>
				<option>OL珠宝解放路店</option>
				<option>OL珠宝司门口店</option>
			</select>
			&nbsp;
			<button type="submit" class="pure-button pure-button-primary">查询</button>

		</fieldset>
	</form>
</div>

<div style="font-size:1px;line-height:1px;width:100%;background-color:#ededed;margin-bottom: 10px;">&nbsp;</div>

<table class="pure-table pure-table-bordered">
	<thead>
	<tr style="font-size: 9pt; text-align: center;">
		<th>销售单号</th>

		<th>足金克重</th>
		<th>铂950克重</th>
		<th>足铂克重</th>
		<th>足银克重</th>
		<th>其它克重</th>

		<th>现金支付</th>
		<th>POS机支付</th>
		<th>支付宝支付</th>
		<th>微信支付</th>
		<th>其它方式支付</th>
		<th>其它方式支付类别</th>
		<th>优惠金额</th>
		<th>实付总额</th>

		<th>黄金旧料</th>
		<th>铂950旧料</th>
		<th>足铂旧料</th>
		<th>金750旧料</th>
		<th>银饰旧料</th>
		<th>其它料克重</th>

		<th>素金销售</th>
		<th>硬金销售</th>
		<th>黄金镶嵌</th>
		<th>铂金销售</th>
		<th>彩金销售</th>
		<th>素银销售</th>
		<th>银饰销售</th>
		<th>玉器销售</th>
		<th>镶嵌销售</th>
		<th>其它销售</th>
		<th>旧料抵扣</th>

		<th>销售员</th>
		<th>提成</th>
		<th>会员积分</th>
		<th>会员编号</th>
		<th>会员姓名</th>
		<th>备注</th>
	</tr>
	</thead>
	<tbody>
	<foreach name="lst" item="sub" >
		<tr>
			<td>{$sub.销售单号}</td>

			<td>{$sub.足金克重}</td>
			<td>{$sub.铂950克重}</td>
			<td>{$sub.足铂克重}</td>
			<td>{$sub.足银克重}</td>
			<td>{$sub.其它克重}</td>


			<td>{$sub.实付总额}</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td></td>
			<td>{$sub.优惠金额}</td>
			<td>{$sub.实付总额}</td>


			<td>{$sub.黄金旧料}</td>
			<td>{$sub.铂950旧料}</td>
			<td>{$sub.足铂旧料}</td>
			<td>{$sub.金750旧料}</td>
			<td>{$sub.银饰旧料}</td>
			<td>{$sub.其它料克重}</td>

			<td>{$sub.素金销售}</td>
			<td>{$sub.硬金销售}</td>
			<td>{$sub.黄金镶嵌}</td>
			<td>{$sub.铂金销售}</td>
			<td>{$sub.彩金销售}</td>
			<td>{$sub.素银销售}</td>
			<td>{$sub.银饰销售}</td>
			<td>{$sub.玉器销售}</td>
			<td>{$sub.镶嵌销售}</td>
			<td>{$sub.其它销售}</td>

			<td>{$sub.旧料抵扣}</td>

			<td>{$sub.销售员}</td>
			<td>0</td>
			<td>{$sub.会员积分}</td>
			<td>{$sub.会员编号}</td>
			<td>{$sub.会员姓名}</td>
			<td></td>
		</tr>
	</foreach>
	</tbody>
</table>